<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Home Page
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" >
<video class="myimg" autoplay loop src="../../assets/Nature - 31377.mp4"></video>
<ion-card class="logincard">
    <ion-card-title class="logtitle">Cloud Puja</ion-card-title>
    <ion-card-subtitle class="instruct"> Fill the Login credentials</ion-card-subtitle>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
          <ion-input class="username" required type="text" oninput="handleFirstNameValue(event)"></ion-input>
        
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
          <ion-input class= "username" required type="text" oninput="handleFirstNameValue(event)"></ion-input>
        
          </ion-item>
          
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card-content>
  <section class="full-width">
    <header>
      <a class="formname" href="Forget Your password">Forget Your password</a>
    </header>
    <ion-button class="login" expand="small" color="success">Login</ion-button>
    <ion-button expand="small" color="danger">Cancel</ion-button>

  </section>
</ion-card>


</ion-content>
